@import "canvasMenuTest.less";

.border {border: 1px solid black;}
.centerV {margin: 0; position: absolute; top: 50%; transform: translate(0, -50%);}
.centerVH {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html,
body,
.wrapper,
.header {
  height: 100%;
}

.wrapper {
  overflow: hidden;
}


.header {
  padding-top: 15%; //review this prop
  background: url(../img/mobile_background.jpg) no-repeat;
  background-size: cover; 
  position: relative;
  transition: left 1s;
  left: 0;

  .blockquote {
    text-align: center;
    //overflow: hidden;
    //max-width: ширина, работает. Оверфлоу прячет и нормально отрабатывает. 

    .quoteText {
      font-size: 2em; 
    // margin: 0;
    }
    .quoteAuthor {
      font-size: 1.5em; 
      text-align: left;
    }
  }
  
  .nav {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 10%;
  }
  .mobile-menu-btn {
    .centerV;
    width: 3em; 
    height: 3em;
    background: tomato;
  }
  .mobile-logo {
    .centerVH;
    max-width: 100%; 
    max-height: 100%;
   
  }
}

.off-canvas {
  left: 70%;
}
