.border {
  border: 1px solid black;
}
.centerV {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.centerVH {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
.wrapper,
.header,
.main-page,
.wrapper-tmpl,
.offside-section-tmpl {
  height: 100%;
}
.header {
  position: relative;
}
.disabler {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0;
  z-index: 1;
}
/*-------------HEADER------------*/
.header {
  overflow: hidden;
}
.main-page {
  padding-top: 15%;
  visibility: hidden;
  background: url("../img/mobile_background.jpg") no-repeat;
  background-size: cover;
  position: relative;
  transition: left 1s;
  left: 0;
}
.blockquote {
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  max-height: 70%;
}
.quoteText {
  font-size: 1.4em;
  color: transparent;
}
.quoteAuthor {
  font-size: 1em;
  text-align: center;
  color: white;
  opacity: 0;
  font-style: italic;
}
.nav {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 10%;
}
.mobile-menu-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 3em;
  height: 3em;
  background: tomato;
}
.mobile-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.off-canvas {
  left: 70%;
}
.menu {
  visibility: hidden;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: lightgray;
}
.menu ul {
  list-style: none;
  height: 100%;
}
.menu li {
  height: 10%;
  width: 90%;
  text-align: left;
}
.menu li.logo {
  display: none;
}
.menu a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  position: relative;
  color: white;
}
.menu span {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/*-------------BODY-----------*/
.main {
  display: none;
  height: 100%;
  padding: 5%;
  text-align: center;
}
.main img {
  max-width: 100%;
  max-height: 30%;
}
.offside-section-tmpl {
  overflow: auto;
  background: url("../img/mobile_pattern.png");
  position: relative;
}
.header-tmpl {
  height: 20%;
  position: relative;
}
.header-tmpl .nav-tmpl {
  height: 100%;
  width: 100%;
  padding-left: 10%;
}
.header-tmpl .mobile-menu-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 3em;
  height: 3em;
  background: tomato;
}
.header-tmpl .mobile-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.off-canvas {
  left: 70%;
}
.menu-dsk-tmpl {
  display: none;
}
.off-canvas-menu {
  visibility: visible;
  overflow: auto;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: lightgrey;
}
.off-canvas-menu ul {
  list-style: none;
  height: 100%;
}
.off-canvas-menu li {
  height: 10%;
  width: 90%;
  text-align: left;
}
.off-canvas-menu li.logo {
  display: none;
}
.off-canvas-menu a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  position: relative;
}
.off-canvas-menu span {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.main-tmpl {
  padding: 5%;
  text-align: center;
}
.main-tmpl h1 {
  text-align: center;
}
.main-tmpl img {
  max-width: 100%;
  max-height: 30%;
}
@media (min-width: 850px) {
  .main-page {
    padding-top: 8%;
    background: url("../img/desktop_background.jpg") no-repeat;
    background-size: cover;
  }
  .quoteText {
    font-size: 2em;
  }
  .quoteAuthor {
    font-size: 1.5em;
  }
  .nav {
    display: none;
  }
  /*-------------body-----------*/
  .main {
    display: none;
    text-align: center;
    height: 100%;
    padding: 1%;
  }
  .main img {
    max-width: 100%;
    max-height: 50%;
  }
  .menu {
    visibility: visible;
    opacity: 0;
    width: 100%;
    height: 20%;
    top: auto;
    bottom: 0;
    left: auto;
    right: auto;
    margin: auto;
    z-index: 1;
    background: none;
  }
  .menu ul {
    text-align: justify;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .menu ul:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .menu li {
    display: inline-block;
    height: 50%;
    max-width: 12%;
    position: relative;
    top: 25%;
  }
  .menu li.logo {
    display: inline-block;
    font-size: 2em;
    background: black;
    max-width: 25%;
    top: 0;
  }
  .menu a {
    font-size: 1.2em;
    border-bottom: none;
    position: static;
    display: table;
    text-decoration: none;
    border: 1px solid black;
  }
  .menu a:active {
    background: yellow;
  }
  .menu span {
    position: static;
    transform: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .wrapper-tmpl {
    background: url("../img/mobile_pattern.png");
    overflow: auto;
  }
  .main-tmpl {
    padding-top: 1%;
  }
  h1 {
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 30%;
  }
  .nav-tmpl {
    display: none;
  }
  /*-------------body-----------*/
  .main-tmpl {
    text-align: center;
    display: block;
    height: 80%;
    padding: 1%;
  }
  .main img {
    max-width: 100%;
    max-height: 50%;
  }
  .off-canvas-menu {
    display: none;
  }
  .menu-dsk-tmpl {
    display: block;
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: none;
  }
  .menu-dsk-tmpl ul {
    text-align: justify;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .menu-dsk-tmpl ul:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .menu-dsk-tmpl li {
    display: inline-block;
    height: 50%;
    max-width: 12%;
    width: 100%;
    position: relative;
    top: 25%;
  }
  .menu-dsk-tmpl li.logo {
    display: inlien-block;
    font-size: 2em;
    background: black;
    max-width: 25%;
    top: 0;
  }
  .menu-dsk-tmpl a {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border-bottom: none;
    position: static;
    display: table;
    text-decoration: none;
    color: black;
    border: 1px solid black;
  }
  .menu-dsk-tmpl .logo a {
    color: white;
  }
  .menu-dsk-tmpl a:active {
    background: yellow;
  }
  .menu-dsk-tmpl span {
    position: static;
    transform: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}
