.offside-mobile-menu {
  visibility: hidden;
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: lightgrey;
}
.offside-mobile-menu ul {
  list-style: none;
  height: 100%;
}
.offside-mobile-menu li {
  height: 10%;
  width: 90%;
  text-align: left;
}
.offside-mobile-menu a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  position: relative;
}
.offside-mobile-menu span {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.border {
  border: 1px solid black;
}
.centerV {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.centerVH {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
.wrapper,
.header,
.main-page {
  height: 100%;
}
.disabler {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0;
  z-index: 1;
}
.header {
  overflow: hidden;
}
.main-page {
  visibility: hidden;
  padding-top: 15%;
  background: url(../img/mobile_background.jpg) no-repeat;
  background-size: cover;
  position: relative;
  transition: left 1s;
  left: 0;
}
.main-page .blockquote {
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  max-height: 70%;
}
.main-page .blockquote .quoteText {
  font-size: 2em;
  color: transparent;
}
.main-page .blockquote .quoteAuthor {
  font-size: 1.5em;
  text-align: center;
  color: white;
  opacity: 0;
}
.main-page .nav {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 10%;
}
.main-page .mobile-menu-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 3em;
  height: 3em;
  background: tomato;
}
.main-page .mobile-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.off-canvas {
  left: 70%;
}
.main {
  display: none;
  height: 100%;
  padding: 5%;
}
.main img {
  max-width: 100%;
  max-height: 30%;
}
