.offside-section-tmpl {
  overflow: auto;
  background: url("../img/mobile_pattern.png");
  position: relative;
}

// -------------HEADER
.header-tmpl {
  height: 20%;
  position: relative;

  .nav-tmpl {
    height: 100%;
    width: 100%;
    padding-left: 10%;
  }

  .mobile-menu-btn {
    .centerV;
    width: 3em; 
    height: 3em;
    background: tomato;
  }
  
  .mobile-logo {
    .centerVH;
    max-width: 100%; 
    max-height: 100%;
  }
}

.off-canvas {
  left: 70%;
}

// mobile menu
.menu-tmpl {
  visibility: hidden;

  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: lightgrey;

  ul {
    list-style: none;
    height: 100%;
  }

  li {
    height: 10%;
    width: 90%;
    text-align: left;
  }

  a {
    width: 100%; 
    height: 100%;
    display: inline-block;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    position: relative;
  }

  span {
    .centerV;
  }
}

// -------------BODY
.main-tmpl {
  padding: 5%;
  text-align: center;

  h1 {
    text-align: center; 
  }
  img {
    max-width: 100%;
    max-height: 30%;
  }
}
